main {
    padding: 10px;
    margin: 10px;
	display: flex;
	justify-content: center;
}

header {
	width: 100%;
	padding: 25px;
	background-color: #000;
	opacity: .7;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header .name {
	color: #fff;
	font-size: 24px;
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right:40px;
	font-size: 18px;
}

header .menu a:hover {text-decoration: underline;}

.espacio {
	color: #fff;
	opacity: .7;
	padding-top: 15%;
	padding-bottom: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}

article {
	display: flex;
	flex-flow: wrap;
}

section {
    background-color: #333232;

    color: #e8e8e8;
	width: 700px;
	height: 400px;
}

.sections {
    padding: 10px;
	margin: 10px;
}

aside {
	color: #fff;
	align-items: flex-end;
}

footer {
	display: flex;
	color: #000;
	margin: 10px;
	align-items: flex-end;
}
