body {
    background-image: url("./bardok.png");
}
/*flexbox for 3 columns*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 30%;
    padding: 10px;
    background-color: #f1f1f1;
}
