.contenedor{
    margin: 10px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

}


/logo/
header .contenedor .duoc img{
    width: 30%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

/BOTONES DE ARRIBA/
header .menu a {
    font-size: 25px;
    text-transform: uppercase;
    color: #1d1d1d;
    text-decoration: none;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    transition: 0,3s;

}
 (animaciones) 
/hover botones de arriba/
header .menu a:hover {
    border-bottom: 2px solid rgba(29, 28, 28, 0.616);
    transition: 0,3s;
    color: #3f2230a2;
}
