
.container {
    padding: 15% 0 15% 0;
    display: flex;
    justify-content: center;
}

.container form {
    width: 560px;
    height: 260px;
}

main a {
    text-decoration: none;
    color: #000;
}

main a:hover {
    color: #fc7700;
}
