.container {
    display: flex;
    justify-content: space-around;
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 17%;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form input {
    font-size: 20px;
    border: 10px;
    border-radius: 4px;
    height: 40px;
}

.form input:focus {
    border-bottom: 4px solid #241F47;
}

.form label {
    margin: 5px 0px;
    font-size: 20px;
}

.form button {
    margin: 10px 0px;
    height: 30px;
}
