
.tbuttons {
    display: flex;
    background-color: rgba(36, 31, 71, 0.8);
    justify-content: space-between;
    padding: 10px 10px 0px 0px;
    align-items: center;
}

.tbuttons button {
    margin: 0px 10px 0px 0px;
    border-radius: 4px;
    border: 0px;
    width: 60px;
    height: 30px;
}

.updbtn {
    color: #000;
    background-color: #CFCCD6;
}

.delbtn {
    background-color: #BA1200;
}

.tbody {
    display: flex;
    padding: 12px 0px 12px 20px;
    justify-content: space-between;
}

.item {
    width: 250px;
}
