* {
    margin: 0;
    padding: 0;
}


header {
    padding: 10px;
    background: #2b2b2b;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 100;
}


body {
    background-image: url("../img/fondo.jpeg");
    background-attachment: fixed;
}

/* aca se utilíza una clase para darle estilo,
 * también los elementos que estan en su interior
 * se maquetan usando flexbox
 * */
.container-nav {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}


nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}


.nav-items li {
    padding: 0 10px;
    margin: 0 15px;
    cursor: pointer;
}
    
/* aca se utiliza una pseudo clase para añadirle una interacción al mouse en los elemntos del nav */
li:hover {
    color: #fc7703;
}

/* aca se utiliza una segunda pseudo clase para añadirle una interacción al mouse en los elementos del nav */
li:active {
    color: #000;
}

/* aca se usa una id para darle estilo */
#content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


article {
    background: #f4f4f4;
    padding: 100px;
    margin: 12% 25%;
    height: 300px;
    width: 500px;
}

/* aca se utiliza una segunda clase para darle estilo */
.about-as {
    height: 200px;
}

.container-about-as {
    padding-top: 20px;
    display: flex;
}

.content-serv-prod:hover {
    border-radius: 3px;
    box-shadow: 0px 5px 10px #000000;
    border: 5px solid #adb5bd34;
    cursor: pointer;
}

.artc-product-serv {
    padding: 55px;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artc-product-serv h2 {
    padding-bottom: 50px;
}

.product-serv {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.product {
    height: 400px;
}

.texto {
    width: 400px;
}


.equipo {
    padding-left: 73px;
}

.a {
    padding-bottom: 10px;
    font-size: 50px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid #000;
}

/* aca se usa una segunda id para darle estilo */
#inicio {
    display: flex;
    font-size: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    margin: 12% 25%;
    height: 300px;
    width: 500px;
}


.contact-form {
    padding: 100px;
    font-size: 20px;
    margin: 12% 25%;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

